/* AuthPortal.css */

.portal {
    background: var(--bg-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
  }
  
  .form {
    background: var(--gray);
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  form h1 {
    margin: 0 0 20px; 
    color: var(--tag-red);
  }
  
  input {
    width: 80%;
    height: 25px; 
    border: 2px solid var(--primary-bg);
    border-radius: 10px; 
    padding: 10px;
    margin: 10px 0; 
    font-size: 16px; 
  }
  
  .login-submit {
    border-radius: 20px;
    height: 45px; 
    width: 120px; 
    color: white;
    background-color: var(--tag-blue);
    font-size: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; 
  }
  
  .login-submit:hover {
    background-color: var(--tag-blue-hover);
  }
  