.cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px; /* To evenly space the cards */
}

.explore-card-section {
  width: calc(33.33% - 15px); 
  margin-bottom: 20px; 
  box-sizing: border-box;
  padding: 10px;
  border-radius: 15px;
  overflow: hidden; 
  transition: transform 0.3s; 
}

.explore-card-section:hover {
  border: 1px solid var(--border-white);
  box-shadow: 2px 2px 4px 2px var(--gray);
  cursor: pointer;
}

.explore-card-cover {
  max-width: 100%;
  height: 230px;
  display: block;
}

.card-img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.card-footer-section {
  padding: 10px;
}

.restaurant-title-rating, .category-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-title {
  width: 70%; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurant-rating {
  width: 10%;
  text-align: right;
  border-radius: 10px;
  background-color: var(--tag-green);
  color: var(--inactive-color); 
  padding: 3px 5px; 
}

.exlpore-card-category {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.explore-card-time {
  width: 30%;
  text-align: right;
}
